* { /*  *{} : 전체 설정 바꿔서 정렬시키는 것 (크기 자동 조절해주는 기능)*/
    box-sizing: border-box;
}

@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'omyu_pretty';
}

header {
    /*background-color: #6b5597b0;*/
    background: linear-gradient(rgb(55, 59, 117), lightgray);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

nav {
    float: left;
    width: 100%;
    height: 100px;
    background:linear-gradient(rgb(207, 207, 209), #af9cb6);
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 100%;
    background-color: #d3d3d369;
    height: 500px;
}
/* section::after = section 블록이 끝난 후 정리해주는 설정*/
section::after { 
    content: "";
    display: table;
    clear: both;
}

footer {
    background: linear-gradient(rgba(199, 197, 201, 0.425),rgba(87, 86, 86, 0.411));
    padding: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
}
/* @media : 모바일버전으로 바꿔줌 */
@media (max-width:600px) { /*화면크기 최대치*/
    nav, article{
    width: 100%;
    height: auto;
}
}
.reply{
    background-color:rgb(168, 174, 202);
}

button{
    background-color: mediumpurple;
    font-family: 'omyu_pretty';
    color: white;
    font-size: 15px;
    border: none;
    padding: 3px;
    margin-bottom: 10px;
}

    /*
    margin : 20px; 상 하 좌 우 모두 20px
    margin : 20px 0; 상 하 20px 좌우0
    margin : 10px 20px 30px 40px;
        시계방향으로 위(10px), 오른쪽(20px), 아래(30px), 왼쪽(40px)
    */

audio{
    display: block;
    margin: 0 atuo;
    max-width: 300px;
    max-height: 20px;
    border: 2px solid #a57fa5;
    border-radius: 30px;
    background-color: #a57fa5;
    box-shadow: 0 0 10px rgba(0,0,0, 0.3);
}
    audio::-webkit-media-controls-panel {
    background-color: #a57fa5;
    border-radius: 8px;
}
    audio::-webkit-media-controls-play-button{
    background-color: #fff;
    border: 2px solid #a57fa5;
    border-radius: 50%;
    width: 10px;
    height: 30px;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.image {
    width: 300px;
    height:300px;
    margin: 10px;
}
