/* * 하고 box-sizing: border-box;는 박스 사이즈 조절*/
* { 
    box-sizing: border-box;
}

@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'Dovemayo_gothic';
    background-color: #f3f3f3;  
}

h1{
    text-align: center;
    font-size: 28px;
}
/*class는 . , id는 # (먼저 적용되는건 class)
margin : 가운데로 정렬한다 */
#container{
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 5px;
}

.post{
    border: solid #ddd;
    margin: 10px 0;
    padding: 20px;
    background-color: #fff;
}

form{
    /*
      margin : 20px; 상 하 좌 우 모두 20px
      margin : 20px 0; 상 하 20px 좌우0
      margin : 10px 20px 30px 40px;
                시계방향으로 위(10px), 오른쪽(20px), 아래(30px), 왼쪽(40px)
    */
    margin: 20px 0;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

label{
    display: block;
    font-size: 20px;
}

input[type="text"], textarea{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid;
    border-radius: 5px;
    margin: 5px 0;
}

button[type="submit"]{
    font-family: 'Dovemayo_gothic';
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.delete-button{
    background-color: #ff5733;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
